<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video to Image Formatter</title>
    <link rel="stylesheet" href="/v2p-formatter/static/css/style.css">
</head>
<body>
    <div class="container">
        <main>
            {% block content %}{% endblock %}
        </main>
    </div>
    
    <script src="/v2p-formatter/static/js/debug.js"></script>
    <script src="/v2p-formatter/static/js/file-selector.js"></script>
    {% block scripts %}{% endblock %}
    <script src="/v2p-formatter/static/js/main.js"></script>
</body>
</html>

